* {
  margin: 0;
  padding: 0;
}

font-family: 'Staatliches', cursive;
font-family: 'Oswald', sans-serif;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fcfcfc;
  color: #295c9e;
  font-family: 'Oswald', sans-serif;
/*  width: 80% auto;
  padding: 10px 10%; */
}

.body {
  width: 80% auto;
  padding: 10px 10%;
}

header {
 padding-top: 40px;
 width: 100%;
}

header a {
  float: right;
  width: 200px;
  padding: 10px 10px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  letter-spacing: 4px;
}

header a:hover{
  color: #295c9e;
}

h1 {
  font-weight: bold;
  padding-top: 200px;
  text-align: center;
  font-size: 3.75em;
}

h2 {
  text-align: center;
  font-size: 45px;
  padding-top: 10px;
  color: #ec2124;
}

footer {
  /* text-align: center;
  padding-top: 100px;
  clear: both;
  background-color: grey;
  width: 100%; */

   position: sticky bottom;
   width: 100%;
   background-color: lightgrey;
   text-align: center;
   position: absolute;
}

footer div {
  width: 25%;
}

footer img {
  width: 200px;
  float: left;
  padding: 63px 63px 63px 300px;
}

/* footer img {
  width: 200px;
  float: left;
  padding: 63px;
}
*/
div {
  border: 2px;
}

p {
  color: #665b25;
  font-family: 'Lato', sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  color: #295c9e;
}

a:hover {
  color: black;
}
/* Class Selectors */

.logo {
  float: left;
  width: 200px;
  margin-top: -30px;
  padding-left: 10px;
  }

.topPhone {
  padding: 3px 1px;
  text-align:center;
}

.topPhone a {
  text-decoration: none;
  color: #295c9e;

}

.topPhone a:hover {
  color: black;
}


.mainImg {
  background:
    #ffffff url('https://i.imgur.com/8Q4QTcU.jpg') no-repeat center;
  width: 100%;
  height: 410px;
  object-fit: cover;
  opacity: 1;
  background-size: cover;
  margin-top: 100px;
}

.mainInfo {
  text-align: center;
  padding: 50px 50px;
  clear: both;
  letter-spacing: 1px;
}

.mainInfo h3 {
  text-align: center;
  font-size: 40px;
  padding-top: 20px;
}

.mainInfo p {
    font-size: 20px;
}

.tri {
  padding-top: 100px;
  text-align: center;
}

.tri h3 {
  padding-top: 10%;
  padding-bottom: 5%;
  font-size: 30px;
}

.tri p {
  padding-left: 1px;
}

.speed {
  float: left;
  width: 31%;
  margin: .5%;
  border-radius: 25px;
  border: 2px clear;
  min-height: 20em;
  box-shadow:0px 0px 4px 4px #6b6b6b;
}

.customercare {
 float: left;
 width: 31%;
 margin: .5%;
 border-radius: 25px;
 border: 2px clear;
 min-height: 20em;
 box-shadow:0px 0px 4px 4px #6b6b6b;
}

.deals {
  float: left;
  margin: .5%;
  width: 31%;
  border-radius: 25px;
  border: 2px clear;
  min-height: 20em;
  box-shadow:0px 0px 4px 4px #6b6b6b;
}

.reviews {
  text-align: center;
  margin-bottom: 40px;
}
.reviews h1 {
padding-top: 500px;
}

.reviews p {
 padding-top: 100px;
 width: 60%;
 display: inline-block;
}

.reviews i {
  float: right;
}

.contactinfo {
  float:left;
  padding: 50px 20px 20px 20px;
}

.servicearea {
  float:left;
  width: 100px;
  padding: 70px;
}

.servicearea img {
  width: 30px;
  padding: 10px;
}

.servicearea img:hover{
  width: 30px;
  opacity: .7;
  padding: 10px;
}

@media screen and (max-width: 900px) {
  header {
    margin: auto;
    padding-top: 0;
  }

  body {
    width: 100%;
     overflow-x:hidden;
  }

  .topPhone a {
  padding-right: 0px;

  }

  .nav {
    float: none;
    width: 75%;
    padding: 15% 15% 30% 15%;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  .logo {
    padding: 0;
    width: 100%;
    margin: auto;
  }
  .mainImg {
      margin-top: 60%;
      width: 100%;
    }
  .speed,
  .customercare,
  .deals {
    float: none;
    margin-top: 2em;
    width: auto;
  }

  .servicearea {
    float:left;
    width: 80%;
    padding: 70px;
  }

  .servicearea img {
    width: 30px;
    padding: 10px;
  }

footer {
  width: 100%;
}

footer img {
  width: 70%;
  float: none;
  padding: 63px;
  margin: auto;
}


  footer div,
  p {
    width: 100%;
    float: none;
  }

  div {
        width: 100% auto;
      }
